* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #333;
            overflow-y: scroll;
        }

        .link:hover{
            background-color: rgba(168, 221, 100, 0.5);
        }
        header {
            background-color: #343a40;
            color: #fff;
            padding: 0 20px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        header h2 {
            margin: 0;
        }
        header nav {
            display: flex;
            gap: 15px;
        }
        header nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
      
        main {
            padding: 5rem 2rem 3rem; 
        }
        section {
            margin: 2rem 0;
            justify-content: center;
        }
        #section_index{
            padding: 10px;
            margin: 5% auto;
            width: 30%;
            text-align: center;
            background-color: rgba(211, 211, 211, 0.236);
        }
        #birthday p{
            text-align: center;
        }
        #birthday h2{
            text-align: center;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 1rem;
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 1000;
        }
        .additional-content {
            text-align: center;
            display: none;
            width: 30%;
            margin: 0 auto;
            padding: 10px;
            background-color: #e9ecef;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .exercise_1-content {
            text-align: center;
            display: none;
            width: 30%;
         
            padding: 10px;
            background-color: #e9ecef;
            border: 1px solid #ddd;
            border-radius: 5px;
        }


        .exercise_2-content {
            text-align: center;
            display: none;
            width: 30%;
         
            padding: 10px;
            background-color: #e9ecef;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .exercise_3-content {
            text-align: center;
            display: none;
            width: 30%;
         
            padding: 10px;
            background-color: #e9ecef;
            border: 1px solid #ddd;
            border-radius: 5px;
        }